label {
    font-weight: bold;
    margin-right: 10px;
}

.filter_bar_container {
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.print_type_filter_form {
    margin-right: 50px;
}

@media only screen and (max-width: 600px) {
    .filter_bar_container, .print_type_filter_form, .book_type_filter_form {
        display: hidden;
    }
  }